// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
	width: 700px;
	height: 500px;
}

.lat, .long{
	display: none;
}

.row {
	margin-bottom: 20px;
}

.avatar{
	width: 180px;
	height: 180px;
	border: solid 4px teal;	
}

.avatar img{
	max-height: 180px;
}

.stars {
	font-size: 20px;
	color: #DB9E36;
}

.restaurant-links a, .restaurant-links a:hover {
	color: #BD4932;
	text-decoration: none;
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

.restaurant-links a {
	opacity: .5;
}

.restaurant-links a:hover {
	opacity: .8;
}