<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <link href='http://fonts.googleapis.com/css?family=Halant' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>

<% notice %>
<%= yield %>

</body>
</html>
